{% extends 'BookDonations/base.html' %}
{% block 'title' %}
    Contact
{% endblock %}
{% block 'main_content' %}
    <div class = "title-section">
        <p>
            Hello, there! For more information, you can contact us on any of the platforms below.
            We will do our best to respond promptly
        </p>
        <ul>
            <li>Send us an Email at contact@bookme.ng</a></li>
            <li><a class = "clear-text-decoration" href = "https://web.facebook.com/oselumese.agbonrofo">Facebook</a></li>
            <li><a class = "clear-text-decoration" href = "https://www.instagram.com/ose_lumese/">Instagram</a></li>
        </ul>
    </div>
{% endblock %}