{% extends 'BookDonations/base.html' %}
{% block 'title' %}
  Donate
{% endblock %}
{% block 'main_content' %}
    <div class="title-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="bg-white p-5 rounded-4 shadow-sm">
                        <h1 class="h2 fw-bold mb-4">Donation Form</h1>
                        <p class="text-muted mb-4">
                            Please fill this form with any book you have to donate. 
                            Each book counts and it will go a long way to put smiles on the faces of young children.
                        </p>
                        <div class="alert alert-info py-2" role="alert">
                            <small><b>Donations are accepted from within Lagos only.</b></small>
                        </div>
                        <form action="{% url 'BookDonations:donate' %}" method="post" class="mt-4">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid mt-4">
                                <button class="button donate-button" type="submit">Submit Donation</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
