{% extends 'BookDonations/base.html' %}
{% block 'title' %}
  Donate
{% endblock %}
{% block 'main_content' %}
    <div class = "title-section">
        <h1>Donation form</h1>
        <p>
            Please fill this form with any book you have to donate. 
            Each book counts and it will go a long way to put smiles on the faces of young children
        </p>
        <p>
            <b>Donations are accepted from within Lagos only.</b>
        </p>
        <form action="{% url 'BookDonations:donate' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}